@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    font-family: var(--ff-poopins) !important;
    transition: all 200ms linear !important;
}

:root {
    --ff-poopins: "Poppins",
        sans-serif;

    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-3: 300;

    --primary-color: #F5EFE2;
    --black-color: #000000;
    --btn-color: #FFD600;
    --slider-color: #F0E8E1;
    --red-color: #FF1300;
    --green-color: #00A106;
    --team-1: #70675F;
    --team-2: #A59A90;
    --white-color: #ffff;
    --blue-color: blue;
    --card-color: #031227;
    --timeline-ball: #009DFF;
    --accord-color: #031227;

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-60: 60px;
    --fs-72: 72px;
    --fs-70: 70px;
    --fs-80: 80px;
    --fs-157: 157px;
    --fs-20: 20px;
    --fs-50: 50px;


    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-54: 54px;
    --lh-72: 72px;
    --lh-100: 100px;
    --lh-188: 188px;
    --lh-28: 28px;
    --lh-27: 27px;
    --lh-83: 83px;
    --lh-39: 39px;
    --lh-32: 32px;
    --lh-26: 26px;
    --lh-49: 46px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-24: 24px;
    --lh-86: 86px;
    --lh-37: 37px;
    --lh-68: 68px;
    --lh-30: 30px;
    --lh-45: 45px;
    --lh-29: 29px;
}


.fm {
    font-family: var(--ff-poopins);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-40 {
    line-height: var(--lh-40);
}


.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.pb-112 {
    padding-bottom: 112px;
}


.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.bg-img {
    background-image: url(../img/png/buddy-bullies-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gap-80 {
    gap: 80px;
}

.main-sec {
    background-image: url(../img/png/main-sec-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blur-img {
    right: 0;
    bottom: 0;
}

.mt-27 {
    margin-top: 27px;
}

.max-w-547 {
    max-width: 547px;
}

.nav-link {
    position: relative;
    transition: all 200ms linear;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--white-color);
    bottom: 0%;
    right: 0%;
    transition: all 400ms linear;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link:hover {
    color: var(--white-color);
}

.started-btn {
    color: var(--black-color);
    background-color: var(--white-color);
    padding-top: 16px;
    padding-bottom: 15px;
    border: none;
    padding-left: 40px;
    padding-right: 41px;
    border-radius: 45.5px;
    margin-top: 46px;
    border: 1px solid var(--white-color);
}

.started-btn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.mt-30 {
    margin-top: 30px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-52 {
    margin-top: 52px;
}

.gap-23 {
    gap: 23px;
}

.comming-btn {
    padding: 10px 20px;
    background-color: var(--white-color);
    border-radius: 45px;
    border: none;
    margin-top: 63px;
    border: 1px solid var(--white-color);
}

.comming-btn:hover {
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.scroll-top {
    right: 3%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    display: none;
    cursor: pointer;
}



.py-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pt-28 {
    padding-top: 28px;
}

.bg-card {
    background-color: var(--card-color);
}

.mt-48 {
    margin-top: 48px;
}

.mt-21 {
    margin-top: 21px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-44 {
    padding-top: 44px;
}

.pb-78 {
    padding-bottom: 78px;
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pt-25 {
    padding-top: 25px;
}

.mt-41 {
    margin-top: 41px !important;

}

.pb-124 {
    padding-bottom: 124px;
}

.pb-156 {
    padding-bottom: 156px;
}

.pb-78 {
    padding-bottom: 78px;
}

.pt-141 {
    padding-top: 141px;
}

.max-w-768 {
    max-width: 768px;
}

.footer-bg-img {
    background-image: url(../img/png/footer-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-links {
    position: relative;
    white-space: nowrap;
}

.footer-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;

    width: 0%;
    background-color: var(--white-color);
    height: 2px;
    transition: all 200ms linear;
}

.footer-links:hover::before {
    width: 100%
}

.pt-100 {
    padding-top: 100px;
}

.mt-32 {
    margin-top: 32px;
}

.pb-169 {
    padding-bottom: 169px;
}

.pt-221 {
    padding-top: 221px;
}

.pb-164 {
    padding-top: 164px;
}

.pb-34 {
    padding-bottom: 34px;
}

.min-h-511 {
    min-height: 511px;
}

.min-h-511:hover {
    box-shadow: 0px 0px 50px -3px #ffffff7d;
}

.svg-hover:hover svg path {
    box-shadow: 0px 0px 50px -3px #ffffff7d;
    fill: var(--timeline-ball);
    transform: scale(0.9);
}

.click-part {
    background-color: var(--accord-color);
    border-radius: 150px;
    cursor: pointer;
}

.mt-110 {
    margin-top: 110px;
}

.pt-20 {
    padding-top: 20px;
}

.mb-121 {
    margin-bottom: 121px;
}

.hidden-txt {
    display: none;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

/* timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: -20px;
    left: 50%;
    border: 2px dashed white;
    margin-left: -3px;

}

/* Container around content */
.containers {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containers::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    right: -20px;
    background-color: var(--timeline-ball);
    border: 3px solid var(--white-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}





/* Fix the circle for containers on the right side */
.right::after {
    left: -21px;
}

.left::after {
    right: -21px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 992px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .containers {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containers::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 10px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (max-width:992px) {
    label[for="menuIcon"] {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
        position: absolute;
        right: 2%;
        top: 2%;

    }

    label[for="menuIcon"] span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);

    }

    .icon {
        width: 100%;
        height: 100%;
        background-image: url(../img/png/main-sec-img.png);
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        align-items: center;
        justify-content: center;
        z-index: 4;
        gap: 30px;
        overflow: hidden;
    }

    input[type="checkbox"]:checked~.icon {
        left: 0%;
    }

    .show {
        left: 0;
    }

}

@media (min-width:992px) {
    .mt-150 {
        margin-top: 150px;
    }
}

@media (max-width:576px) {
    .fs-md-40 {
        font-size: var(--fs-40);
    }

    .fs-md-25 {
        font-size: var(--fs-25);
    }

    .fs-md-50 {
        font-size: 50px;
    }

    .lh-md-68 {
        line-height: var(--lh-68);
    }

    .fs-md-16 {
        font-size: var(--fs-16);
    }

    .fs-md-14 {
        font-size: var(--fs-14);
    }

    .started-btn {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

}